<h1>Welcome</h1>
<!-- <p>Make sure to keep all page content within the <code>#page-content-wrapper</code>.</p> -->
<% if user_signed_in? %>
  <p>
    Start by checking your rooms: <br> <br>
     <%= link_to "My Rooms", user_rooms_path(current_user), class: "btn btn-default" %>
  </p>
  <br>
  <div>

  </div>
<% else %>
  <h3>Welcome Guest, please signin to your account or make one.</h3>
<% end %>
