@import "bootstrap-sprockets";
@import "bootstrap";

.navbar-outer  {
  position: fixed;
  top: 0px;
  width: 500px;
}

body {
  padding-top: 0px;
}

.navbar .navbar-inverse .navbar-fixed-top {
  background: #000;
}
